body {
  background-color: rgba(29, 19, 49, 0.938);
  font-size: 20px;
  color:white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#table_shown {

  position: relative;
  margin: 30px;
  color: white;
  display: flex;
  flex-direction:row;
  align-items: center;
  align-content: center;
  justify-content:left;
  vertical-align: middle;
  flex-wrap: wrap;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

.tab_label {
  margin: 5px 10px;
  /* padding: 5px; */
}
#identif {
  position: relative;
  color: white;
  display: flex;
  flex-direction:row;
  align-items: center;
  align-content: center;
  justify-content:space-evenly;
  vertical-align: middle;
  flex-wrap: nowrap;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(38, 3, 58);
}
#identiff {

  margin: 30px;
  color: white;
  display: flex;
  flex-direction:row;
  align-items: center;
  align-content: center;
  justify-content:space-between;
  vertical-align: middle;
  flex-wrap: nowrap;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(38, 3, 58);
}

.id_tab {
  min-width : "210px";
  max-width : "210px";
  position: relative;

  padding: 10px;
  margin: 5px;
  flex-grow: 1;
}
.input_id {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 20px;
  filter: brightness(70%);
  text-align: center;
  color: white;
  position : "relative";
  width : 80px;
  padding : 5px;
  font-size: 20px;
  background-color:rgb(38, 3, 58);
}
input {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 20px;
  filter: brightness(70%);
  text-align: center;
  color: white;
  font-size : 30px;

}
#sex_id {
  display: flex;
  justify-content: left;
  max-width: fit-content;
  vertical-align: middle;
  flex-wrap: nowrap;
  flex-direction: column;

}
#age_id {
  display: flex;
  justify-content: left;
  max-width:fit-content;
  font-size: 20px;
  vertical-align: middle;
  flex-direction: column;
  align-items: center;
}
#weight_id {
  display: flex;
  justify-content: left;
  max-width:fit-content;
  font-size: 20px;
  vertical-align: middle;
  flex-direction: column;
  align-items: center;
}
#height_id {
  display: flex;
  justify-content: left;
  max-width:fit-content;
  font-size: 20px;
  vertical-align: middle;
  flex-direction: column;
  align-items: center;
}
.tooltip {
  position: relative;
  display: inline-block;
  border: none;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  word-wrap: none;
  background-color: rgb(95, 95, 95);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.2s;

}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 5%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(95, 95, 95) transparent transparent transparent;
}

#test_types {
  margin: 30px 30px 10px 30px;
  display: flex;
}
.tab {
  align-items: center;
  opacity: 0.4;
  display: flex;
  cursor: pointer;
  border-radius: 20px;
  vertical-align: middle;
  transition: transform .2s;
  border: 5px solid rgba(255, 255, 255, 0.438);
}



.logo_table {

  height:40px; 
  width:40px; 
  padding: 5px;
  vertical-align:middle;
}

.tab:hover {
  transform: scale(1.3);
  opacity: 1;
}

#logo {
  float: left;
  width: 50px;
  height: 50px;
  position:inherit;
  margin-top: 5px;
  margin-left: 30px;
  padding-right: 10px;
  transition: transform .2s;
}

#logo:hover {
  transform: scale(1.5);
}
h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(178, 173, 212);
  outline-color: black;
  outline-width: 10px;
  font-size:50px;
  letter-spacing:3px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
  text-align: left;
  display: inline-block;
}
#top {
    
  color:rgb(156, 156, 156);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: left;
  font-size: 35px;
  display: inline;

}





header {
  margin: 10px 10px;
  padding: auto;

}



#gen_logo {
  width: 50px;
  height: 50px;
  transition: transform .2s;
  cursor: pointer;
  vertical-align: middle;
  margin: 10px;
}

#gen_logo:hover {
  transform: scale(2);
}

#gen_logo:active {
  transform: scale(0.9) ;
  
}


select {
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: transparent;
  color: white;
  border: transparent;
  text-align: left;
  cursor: pointer;
  margin: 0px 10px 0px 0px;
  transition: transform .2s;
  float: right;
}


option {
  color: darkslategray;
  background-color: white;
  cursor: pointer;
}

option::selection {
  color: white;
  background-color: darkslategray;
  cursor: pointer;
}



