@import url("https://fonts.googleapis.com/css2?family=Abel&family=Eczar&family=Vidaloka&display=swap");
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}
@-webkit-keyframes slideFromLeft {
  from {
    left: -150px;
  }
  to {
    left: 0px;
  }
}
@keyframes slideFromLeft {
  from {
    left: -150px;
  }
  to {
    left: 0px;
  }
}

@media screen and (min-width: 800px) {
  #show_tab {
    display: none;
  }
  .id_tab {
    margin: 0px 5px;
    padding: 5px;
  }
  select {
    font-size: 20px;
  }
  .patientSummary {
    font-size: 1.6rem;
    font-family: "Abel", sans-serif;
  }
  .expand_info {
    display: flex;
    margin-left: 10px;
    margin-right: 20px;
    padding: 0px 5px;
    font-size: medium;
    width: -moz-fit-content;
    width: fit-content;
    vertical-align: middle;
    cursor: pointer;
    -webkit-backdrop-filter: brightness(90%);
    backdrop-filter: brightness(90%);
    filter: brightness(80%);
    border-radius: 5px;
  }

  #searched {
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  }
  .tab_parent {
    flex-wrap: wrap;
  }
  .entry_box {
    font-size: 20px;
    padding: 10px;
    min-width: 200px;
    max-width: 200px;
  }
  #table_shown {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    margin: 30px;
    width: 97%;
    gap: 10px;
  }
}
@media screen and (max-width: 800px) {
  #searched {
    gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }
  select {
    font-size: 17px;
  }
  .burger {
    background-color: rgba(0, 0, 0, 1);
    display: block;
    position: fixed;
    height: 100vh;
    z-index: 1;
    width: 150px;
    padding-top: 20vh;
    top: 0;
    left: 0;
    animation: slideFromLeft 0.5s;
    border-radius: 0px 30px 30px 0px;
  }
  .patientSummary {
    font-size: 1rem;
    font-family: "Abel", sans-serif;
  }
  .burger_tab {
    -webkit-overflow-scrolling: touch;
    width: 150px;
    height: 54px;
    align-items: center;
    opacity: 0.6;
    display: inline-flex;
    cursor: pointer;
    vertical-align: middle;
    padding-left: 10px;
    margin-bottom: -8px;
  }
  .close_btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
  }
  .tab_label {
    text-align: center;
  }
  #test_types_cbc {
    display: none;
  }
  #test_types_pbs {
    display: none;
  }
  #test_types_lft {
    display: none;
  }
  #test_types_kft {
    display: none;
  }
  #test_types_tft {
    display: none;
  }
  #test_types_bio {
    display: none;
  }
  #test_types_abg {
    display: none;
  }
  #tab_analyse .tab_label {
    /* padding-left: 5px; */
    display: none;
  }
  .id_tab {
    margin: none;
    padding: none;
  }
  .expand_info {
    display: flex;
    margin-left: 10px;
    margin-right: 20px;
    padding: 0px 5px;
    font-size: medium;
    width: -moz-fit-content;
    width: fit-content;
    vertical-align: middle;
    cursor: pointer;
    -webkit-backdrop-filter: brightness(90%);
    backdrop-filter: brightness(90%);
    filter: brightness(80%);
    border-radius: 5px;
  }



  #top {
    color: rgb(156, 156, 156);
    text-align: left;
    font-size: 25px;
    display: inline;
  }
  .tab_parent {
    margin: 20px 30px 10px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* overflow-x: auto;
    white-space: nowrap; */
  }
  .tab {
    -webkit-overflow-scrolling: touch;
    width: -moz-fit-content;
    width: fit-content;
    height: 54px;
    align-items: center;
    opacity: 0.6;
    display: inline-flex;
    cursor: pointer;
    border-radius: 20px;
    vertical-align: middle;
    /* transition: transform .2s; */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin: 5px;
  }
  .tab_label {
    margin: 5px 10px 5px 0px;
    display: inline-block;
  }

  #show_label {
    padding-left: 5px;
  }

  .entry_box {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    min-width: 170px;
    max-width: 170px;
    flex-grow: 1;
    padding: 0px;
    margin: 5px 5px;
    border-radius: 25px;
    box-shadow: rgb(0 0 0 / 17%) 0px -23px 25px 0px inset,
      rgb(0 0 0 / 15%) 0px -36px 30px 0px inset,
      rgb(0 0 0 / 10%) 0px -79px 40px 0px inset, rgb(0 0 0 / 6%) 0px 2px 1px,
      rgb(0 0 0 / 9%) 0px 4px 2px, rgb(0 0 0 / 9%) 0px 8px 4px,
      rgb(0 0 0 / 9%) 0px 16px 8px, rgb(0 0 0 / 9%) 0px 32px 16px;
    color: white;
    font-size: 18px;
    justify-content: space-between;
    font-family: "Abel", sans-serif;
  }

  .entry_label {
    position: relative;
    text-align: center;
    width: 110px;
  }
  .entry_input {
    position: relative;
    width: 120px;
    margin-top: 7px;
    height: 39px;
    padding: 5px;
    font-size: 15px;
    color: white;
    border: none;
  }
  .entry_output_label {
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px;
    text-align: center;
    max-width: 80px;
    word-wrap: break-word;
  }
  #table_shown {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }
}

body {
  /* rgba(29, 19, 49, 0.938) */
  /* background-image: linear-gradient(
    to bottom,
    rgba(29, 19, 49, 0.938),
    rgba(11, 7, 19, 0.938),
    rgba(29, 19, 49, 0.938)
  ); */
  background-color: rgba(21, 14, 36, 0.938);
  /* background-image: url("https://img.freepik.com/free-vector/abstract-3d-black-techno-background-overlap-layers_206725-668.jpg?w=1380&t=st=1674559341~exp=1674559941~hmac=66f7ee867fc1ca8f0acddadbc32d142038544e29d17ae3d559e083232f744bbf"); */
  font-size: 20px;
  color: white;
  /* font-family: 'Abel' , sans-serif; */
  font-family: "Eczar", serif;
  /* font-family: 'Yanone Kaffeesatz', sans-serif;  */
}
header {
  margin: 20px 10px;
  padding: auto;
}

input {
  border-radius: 20px;
  filter: brightness(70%);
  text-align: center;
  color: white;
  font-size: 28px;
}

#logo {
  float: left;
  vertical-align: middle;
  position: inherit;
  margin-top: 5px;
  margin-left: 30px;
  padding-right: 10px;
  transition: transform 0.2s;
  width: 9vmin;
  height: 9vmin;
}

h1 {
  color: rgb(178, 173, 212);
  font-size: 8vmin;
  letter-spacing: 3px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 0px;
  margin-top: 5px;
  text-align: left;
  display: inline-block;
  font-family: "Vidaloka", serif;
}

#gen_logo {
  width: 50px;
  height: 50px;
  transition: transform 0.2s;
  cursor: pointer;
  vertical-align: middle;
  margin: 10px;
}


#gen_a_w_h {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 20px;
  margin: 20px;
  padding: 5px 0px;
  display: none;
  box-sizing: border-box;
  position: relative;
  color: white;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  vertical-align: middle;
  flex-wrap: wrap;
  background-color: rgb(38, 3, 58);
}
#patient_info_parent {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 20px;
  margin: 20px;
  padding: 5px 0px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  vertical-align: middle;
  flex-wrap: wrap;
  background-color: rgb(38, 3, 58);
  padding-right: 5px;
}

.id_tab {
  min-width: 150px;
  max-width: 150px;
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: left;
  max-width: -moz-fit-content;
  max-width: fit-content;
  vertical-align: middle;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  /* -webkit-backdrop-filter: brightness(105%);
  backdrop-filter: brightness(105%);
  filter: brightness(105%); */
  border-radius: 10px;
  height: 72px;
}
.input_id {
  border-radius: 20px;
  filter: brightness(70%);
  text-align: center;
  color: white;
  position: relative;
  width: 55px;
  padding: 0px 1px;
  font-size: 18px;
  background-color: rgb(38, 3, 58);
  border: none;
  font-family: "Abel", sans-serif;
}

.tooltip_parent {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 25px;
  max-height: 25px;
  font-size: 20px;
  text-align: center;
  justify-self: center;
  margin: -5px auto;
  line-height: 1em;
}

.tab_parent {
  margin: 20px 15px 10px 15px;
  display: flex;
  /* flex-wrap: wrap; */
}
.tab {
  width: -moz-fit-content;
  width: fit-content;
  height: 54px;
  align-items: center;
  opacity: 0.6;
  display: inline-flex;
  cursor: pointer;
  border-radius: 20px;
  vertical-align: middle;
  /* transition: transform .2s; */
  padding-left: 5px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  margin: 5px;
  flex-grow: 0;
}
.tab_label {
  margin: 5px 10px 5px 0px;
  display: inline-block;
}
/* .tab:hover {
  opacity: 1 !important;
  transform: translateY(-10px) scale(1.1);
} */

.logo_table {
  height: 40px;
  width: 40px;
  padding: 5px;
  vertical-align: middle;
  display: inline-block;
}

#table_shown {
  margin: 20px 10px;
  color: white;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  height: fit-content;
  max-height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  
}

#searched {
  display: grid;
  width: 98%;
  margin: 20px 10px;
  box-sizing: border-box;
  position: relative;
}

.entry_box {
  display: flex;
  height: fit-content;
  flex-direction: column;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 0;
  margin: 5px 5px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  color: white;
  justify-content: space-between;
  font-family: "Abel", sans-serif;
}

.labelParent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
}

.limitsParent {
  display: flex;
  
}


.limitsParent div {
  padding: 2px;
}



.lowerLimitParent {
  display: flex;
  justify-content: space-between;
}

.upperLimitParent {
  display: flex;
  justify-content: space-between;
}

.unitParent{
  display: flex;
  justify-content: space-between;
}

.closeButton {
  border-radius: 10px;
  filter: brightness(80%);
  border: none;
  color: white;
  font-family: inherit;
  font-size: 1rem;
}

.lowerLimitInput{
  width: 70px;
  font-size: 1rem;
  color: white;
  font-family: inherit;
  border: none;
}
.upperLimitInput{
  width: 70px;
  font-size: 1rem;
  color: white;
  font-family: inherit;
  border: none;
}
.entry_input {
  position: relative;
  width: 140px;
  margin-top: 7px;
  height: 39px;
  padding: 5px;
  font-size: 30px;
  color: white;
  border: none;
}

.entry_output_frame {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 5px 0px;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
}

.warning_icon {
  width: 34px;
  height: 34px;
  padding: 5px 0px;
  vertical-align: middle;
}

.status_icon {
  width: 30px;
  height: 30px;
  padding: 5px 0px;
  vertical-align: middle;
}

.entry_output_label {
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  text-align: center;
  max-width: 130px;
  word-wrap: break-word;
}

.statisticsParent {
  padding: 10px;
  color: white;
  width: 97%;
  display: flex;
  font-family: "Abel", sans-serif;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}
.prevalenceInput {
  position: relative;
  width: 120px;
  margin-top: 7px;
  height: 39px;
  padding: 5px;
  color: white;
  border: none;
}

.prevalenceParent {
  font-family: "Abel", sans-serif;
  margin: 5px 10px;
  text-align: center;
  font-size: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:baseline;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  flex-grow: 1;
  padding: 10px;
  margin: 5px 5px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  color: white;
  font-size: 20px;
  justify-content: center;
}
.statisticsEntry {
  margin: 5px 10px;
  text-align: center;
  font-size: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:baseline;
  position: relative;
  flex-wrap: wrap;
  align-items: center;

  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  flex-grow: 1;
  padding: 10px;
  margin: 5px 5px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  color: white;
  font-size: 20px;
  justify-content: center;
}

.statisticsFirstLabel{
  display: inline-block;
}

.additionalStatistics {
  margin-left: 10px;
  padding: 0px 5px;
  font-size: medium;
  width: -moz-fit-content;
  width: fit-content;
  vertical-align: middle;

  -webkit-backdrop-filter: brightness(90%);
  backdrop-filter: brightness(90%);
  filter: brightness(80%);
  border-radius: 5px;
}

.findings_parent {
  padding: 10px;
  color: white;
  width: 97%;
  display: block;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  font-family: "Abel", sans-serif;
}

.signs_section {
  margin: 5px 10px;
  text-align: center;
  font-size: 25px;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
  align-items: center;

  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  flex-grow: 1;
  padding: 10px;
  margin: 5px 5px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  color: white;
  font-size: 20px;
  justify-content: center;
}

.measurements_parent {
  /* margin: 30px; */
  padding: 10px;
  color: white;
  width: 97%;
  display: block;
  flex-direction: column;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  box-sizing: border-box;
  position: relative;
  font-family: "Abel", sans-serif;
}
.measurements_section {
  margin: 5px 10px;
  text-align: center;
  font-size: 25px;
  width: 100%;
  display: inline-block;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  flex-grow: 1;
  padding: 10px;
  margin: 5px 5px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  color: white;
  font-size: 20px;
  justify-content: center;
  background-color: rgb(54, 85, 105);
}

.path_section {
  margin-left: 10px;
  padding: 0px 5px;
  font-size: medium;
  width: -moz-fit-content;
  width: fit-content;
  vertical-align: middle;
  cursor: pointer;
  -webkit-backdrop-filter: brightness(90%);
  backdrop-filter: brightness(90%);
  filter: brightness(80%);
  border-radius: 5px;
}

#searchbar {
  width: -moz-fit-content;
  width: fit-content;
  min-width: 100px;
  max-width: 1vw;
  display: none;
}

.add {
  transition: transform 0.2s;
  cursor: pointer !important;
  width: 22px;
  height: 22px;
  padding: 0px 0px;
  position: absolute;
  align-self: flex-start;
  top: 5px;
  cursor: pointer;
}

.add:hover {
  transform: scale(1.2) perspective(33px) rotatex(-55deg) rotateZ(-45deg);
}

.add:active {
  transform: scale(1.1) perspective(30px) rotatex(-60deg) rotateZ(-45deg);
}

.rem {
  transition: transform 0.2s;
  cursor: pointer !important;
  width: 22px;
  height: 22px;
  padding: 0px 0px;
  position: absolute;
  align-self: flex-start;
  top: 5px;
  cursor: pointer;
}

.rem:hover {
  transform: scale(1.5) translateY(-4px);
}

.rem:active {
  transform: scale(1.7) translateY(-7px);
}

select {
  background-color: transparent;
  color: white;
  border: transparent;
  text-align: left;
  cursor: pointer;
  margin: 0px 10px 0px 0px;
  transition: transform 0.2s;
  float: right;
  font-family: "Abel", sans-serif;
}

option {
  color: darkslategray;
  background-color: white;
  cursor: pointer;
  font-family: "Abel", sans-serif;
}

option::selection {
  color: white;
  background-color: darkslategray;
  cursor: pointer;
}

#tab_search {
  transition: width 2s;
}

li {
  text-align: left;
}

.linkAndSensSpec {
  display: flex;
}

.referenceIcon {
  height: 20px;
  width: 20px;
  padding: 5px;
  vertical-align: middle;
  display: inline-block;
}

.idLabels {
  margin: 5px 10px; 
  font-size: 1.2rem; 
  font-family: 'Abel', sans-serif;
  -webkit-backdrop-filter: brightness(90%);
  backdrop-filter: brightness(90%);
  filter: brightness(80%);
  border-radius: 5px;
  padding: 0px 5px;
}

#top {
  /* font-size: 0.78rem;  */
  font-size: 2.15vmin;
  margin-top: -10px;
}